<mat-card>
    <mat-card-title class="title">Post</mat-card-title>
  <mat-card-content>
  <form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="nombre">
      <input type="text" matInput placeholder="nombre" formControlName="nombre">
    </mat-form-field>
  </p>
  <p *ngIf="form.controls['nombre'].invalid && (form.controls['nombre'].dirty || form.controls['nombre'].touched)">
    Error de Validacion
  </p>
  
  <p>
    <mat-form-field>
      <input type="text" class="precio" matInput placeholder="precio" formControlName="precio">
    </mat-form-field>
  </p>
  <p *ngIf="form.controls['precio'].invalid && (form.controls['precio'].dirty || form.controls['precio'].touched)">
    Error de Validacion
  </p>
  
  <p>
    <mat-form-field>
      <input type="number" class="stok" matInput placeholder="stok" formControlName="stok">
    </mat-form-field>
  </p>
  <p *ngIf="form.controls['stok'].invalid && (form.controls['stok'].dirty || form.controls['stok'].touched)">
    Error de Validacion
  </p>

  <p>
    <mat-form-field>
      <input type="number" class="idFarmacia" matInput placeholder="idFarmacia" formControlName="idFarmacia">
    </mat-form-field>
  </p>
  <p *ngIf="form.controls['idFarmacia'].invalid && (form.controls['idFarmacia'].dirty || form.controls['idFarmacia'].touched)">
    Error de Validacion
  </p>
  
  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  
  <div class="button">
    <button type="submit" mat-button>Enviar :v</button>
  </div>
  
  </form>
  <div *ngIf="error">
    <p>{{ error }}</p>
  </div>
  </mat-card-content>
  </mat-card>